<div class="post">

    <p><span class="">Title: {{post.title}}</span></p>
    <p><span class="">Content: {{post.content}}</span></p>

    <div class="post_buttons">
        <button class="form_button" (click)="detailsIsChecked = !detailsIsChecked">Details</button>

        <button class="form_button" routerLink="/post/{{post.id}}">To Post</button>

        <button class="form_button" (click)="updateIsChecked=!updateIsChecked">Update Post</button>

        <button class="form_button" (click)="deletePost()">Delete Post</button>
    </div>

    <div class="post_details" *ngIf="detailsIsChecked">
        <p><span class="">Id: </span> {{post.id}} <br><span class="">User Id:
            </span>{{post.user_id}} </p>
    </div>

    <div class="update_post_form" *ngIf="updateIsChecked">
        <app-update-post-form [post]="post"></app-update-post-form>
    </div>
</div>