.post {
    border: 1px solid #232323;
    border-radius: 0.5vw;
    margin: 1vw 0;
    padding: 1vw;
}
.post_buttons {
    button {
        padding: 1vw;
        margin-right: 1vw;
    }
}
.post_details {
    margin-top: 1vw;
}
.update_post_form {
    margin-top: 1vw;
}
