<div class="block">
    <h1>{{ title }}</h1>

    <!-- <div class="">
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div> -->
    <div *ngFor="let post of posts" class="posts_page_post">
        <h1 class="posts_title">{{post.title | titlecase}}</h1>

        <p class="posts_content">{{post.content}}</p>

        <p class="posts_info">
            <span>
                id: {{post.id}}
            </span>
            <span>
                user id: {{post.user_id}}
            </span>
        </p>

        <button routerLink="/post/{{post.id}}" class="form_button">
            To Post
        </button>
    </div>
</div>