<div class="block">
    <h1>{{title}}</h1>

    <div class="">
        <p><span class="">Id: {{user.id}}</span></p>
        <p><span class="">Name: {{user.name}}</span></p>
        <p><span class="">Surname: {{user.surname}}</span></p>
    </div>

    <div class="user_buttons">
        <button class="form_button" (click)="postsIsChecked = !postsIsChecked">
            Posts
        </button>

        <button class="form_button" (click)="createPostIsChecked = !createPostIsChecked">
            Create Post
        </button>

        <button class="form_button" (click)="updateIsChecked = !updateIsChecked">
            Update User
        </button>

        <button class="form_button" (click)="deleteUser()">
            Delete User
        </button>
    </div>

    <div *ngIf="postsIsChecked" class="">
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>

    <div class="create_post_form" *ngIf="createPostIsChecked">
        <app-create-post-form></app-create-post-form>
    </div>

    <div class="update_user_form" *ngIf="updateIsChecked">
        <app-update-user-form></app-update-user-form>
    </div>
</div>