<div class="users block">
    <h1>{{title | titlecase}}</h1>

    <div class="columns">
        <span class="col_id">id</span>
        <span class="col_name">name</span>
        <span class="col_surname">surname</span>
    </div>

    <app-user *ngFor="let user of users" [user]="user"></app-user>

    <div>
        <button class="create_button" (click)="isChecked = !isChecked">
            Create User
        </button>

        <div *ngIf="isChecked" class="create_user_form">
            <app-create-user-form></app-create-user-form>
            <!-- <form>
                <div class="form_label name_label">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="" [(ngModel)]="data.name">
                </div>
                <div class="form_label surname_label">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" name="surname" class="" [(ngModel)]="data.surname">
                </div>
                <button type="submit" (click)="createUser()" class="confirm_button">
                    Confirm
                </button>
            </form> -->
        </div>
    </div>
</div>