.title {
    text-align: center;
    margin: 5vw 0;
    font-size: 4vw;
}
.post_page_content {
    text-align: center;
    h1 {
        margin-bottom: 3vw;
        font-size: 3vw;
    }
    p {
        text-align: center;
    }
}
.post_content {
    font-size: 2vw;
    margin-bottom: 2vw;
}
