<form>
    <div class="form_line">
        <input type="text" id="title" name="Title" class="form_input" placeholder=" " [(ngModel)]="data.title">
        <label for="title" class="form_label">Title</label>
    </div>
    <div class="form_line">
        <textarea type="text" id="content" name="content" class="form_input" placeholder=" "
            [(ngModel)]="data.content"></textarea>
        <label for="content" class="form_label">Content</label>
    </div>
    <button class="form_button form_create_post_button" type="submit" (click)="createPost()">
        Confirm
    </button>
</form>