<form>
    <div class="form_line create_user_line">
        <input class="form_input" type="text" id="name" name="name" placeholder=" " [(ngModel)]="data.name">
        <label class="form_label" for="name">Name</label>
    </div>
    <div class="form_line create_user_line">
        <input class="form_input" type="text" id="surname" name="surname" placeholder=" " [(ngModel)]="data.surname">
        <label class="form_label" for="surname">Surname</label>
    </div>
    <button type="submit" (click)="createUser()" class="form_button form_confirm">
        Confirm
    </button>
</form>