.user_row {
    span {
        background-color: #e9e7e7;
        text-align: center;
        display: inline-block;
        border: 2px solid rgb(75, 35, 35);
        padding: 0.5vw 0;
        margin: -1px;
    }
    .user_id {
        width: 10vw;
    }
    .user_name {
        width: 15vw;
    }
    .user_surname {
        width: 15vw;
    }
    .to_user {
        background-color: #e9e7e7;
        width: 9vw;
        border: 2px solid rgb(75, 35, 35);
        font-size: 20.9px;
        padding: 0.5vw 0;
        margin-left: 1vw;
        font-weight: lighter;
    }
    margin-bottom: 1vw;
}
